@import '../../styles.scss';

.links__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30.4rem;

  &__link {
    background-color: $color-grey-700;
    padding: 1.2rem;
    border-radius: 0.8rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    & a {
      @include text-preset-2-bold;
    }

    &:hover {
      background-color: $color-green;

      & a {
        color: $color-grey-900;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}
